@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #212529;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}

tr:hover {
  background-color: #f8f9fa;
}

.booking-id {
  font-weight: 500;
  font-size: 1em;
}

.view-details-btn,
.cancel-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.view-details-btn {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.cancel-btn {
  background-color: #000000;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: small;
   padding: 5px 10px;
   border-radius: 10px;
  margin-bottom: 5px;
}

.pagination {
  margin-top: 20px;
  justify-content: center;
}

.pagination .page-item .page-link {
  color: #ff7ca5;
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 3px;
  font-size: 12px;
}

.pagination .page-item.active .page-link {
  background-color: #ff0048;
  border-color: #ff0040;
  color: white;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 14px;
}

#success-message {
  color: #000000;
}

#error-message {
  color: #000000;
}

.vbook-btn,
.logout-btn {
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vbook-btn {
  background-color: #ff0048;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.btns{
  background-color: #ff0048;
  color: #fff;
  border: none;
  padding: 7px 50px;
  gap: 10px;
  border-radius: 20px;
  margin-left: auto;
}

.logout-btn {
  background-color: #ff0048;
  color: #fff;
  font-family: "Poppins", sans-serif;;
  border: none;
  border-radius: 20px;
  margin-left: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}